.game-button{
  background-color: aqua;
  border: 2px solid red;
  border-radius: 5px;
  margin: 10px;
}

button.selected {
  background-color: #0000ff;
}

button.incorrect {
  background-color: #ff0000;
}